@import '../../styles/mixins';

.header {
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 2px solid var(--border-color);
}